<form ng-submit="vm.validateInput(form.title)" name="form">

     <div class="form-inline">

          <label for="amount" class="control-label">Enter monetary value for coin conversion</label>
          <input type="text" class="form-control"  ng-model="vm.amount" name="title" id="amount" ng-required="!vm.amount" ng-pattern="vm.regex"></input>

          <span class="btn-group">
               <button type="submit" class="btn btn-mini" ng-disabled="form.title.$error.pattern || form.title.$error.required">Convert</button>
          </span>
          <div class="help-block pattern">
               <span class="warning" ng-show="form.title.$error.pattern">Not a valid number, can't be 0, negative or non-numeric, can include &pound; or p</span>
          </div>

     </div>
</form>
<div class="btn-group reset">
     <button ng-click="vm.resetForm(form)" class="btn btn-mini" ng-show="form.title.$error.pattern">Reset</button>
</div>
<div ng-show="vm.displayForm" ng-cloak>
     <div class="header-background flex-centered"><p>Converting {{vm.total}} pennies into coins.</p></div>

     <div class="table-responsive">
          <table class="table">

               <thead>
                    <tr>
                         <th class="text-left">Coin</th>
                         <th class="text-right">Amount</th>
                    </tr>
               </thead>

               <tbody>
                    <tr ng-repeat="convert in vm.converted">
                         <td class="text-left" ng-bind-html="convert.unit">{{convert.unit}}</td>
                         <td class="text-right">{{convert.value}}</td>
                    </tr>
               </tbody>
          </table>

          <button ng-click="vm.resetForm(form)" class="btn btn-mini push-left">Reset</button>

     </div>

</div>